.vs/ztm-rust/FileContentIndex/cc60243b-5bd0-45f4-bbcf-108f37fc8752.vsidx
.vs/ztm-rust/FileContentIndex/9658534b-1cc5-4d8a-8a61-e06da6383a38.vsidx
.vs/ztm-rust/FileContentIndex/597f3b58-2bad-40dc-b585-dd15a758d2c8.vsidx
.vs/ztm-rust/v17/.wsuo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
activities/src/bin/ex*.rs
